/* html {
  height: 100%;
  background: linear-gradient(#123 30%, #667);
  overflow: hidden;
} */

.snow,
.snow::before,
.snow::after {
  position: fixed;
  top: -600px;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  pointer-events: none;
  background-size: 600px 600px;
  animation: snow 3s linear infinite;
}

/* Snow layer 1 */
.snow {
  background-image:
    radial-gradient(3px 3px at 100px 50px, rgba(133, 148, 199, 0.8) 50%, transparent),
    radial-gradient(2px 2px at 200px 150px, rgba(255,255,255,.6) 50%, transparent),
    radial-gradient(4px 4px at 300px 250px, rgba(255,255,255,.7) 50%, transparent),
    radial-gradient(2px 2px at 400px 350px, rgba(255,255,255,.5) 50%, transparent),
    radial-gradient(3px 3px at 500px 100px, rgba(181, 77, 77, 0.9) 50%, transparent);
}

/* Snow layer 2 */
.snow::before {
  background-image:
    radial-gradient(2px 2px at 150px 100px, rgba(0, 22, 216, 0.6) 50%, transparent),
    radial-gradient(3px 3px at 250px 200px, rgba(56, 77, 236, 0.5) 50%, transparent),
    radial-gradient(2px 2px at 350px 300px, rgba(55, 57, 98, 0.7) 50%, transparent);
  animation-duration: 6s;
  filter: blur(1.5px);
  opacity: 0.6;
}

/* Snow layer 3 */
.snow::after {
  background-image:
    radial-gradient(2px 2px at 50px 200px, rgba(0, 12, 183, 0.4) 50%, transparent),
    radial-gradient(3px 3px at 450px 300px, rgba(89, 53, 232, 0.6) 50%, transparent);
  animation-duration: 9s;
  filter: blur(3px);
  opacity: 0.4;
}

@keyframes snow {
  to {
    transform: translateY(600px);
  }
}
